.container {
    background: #a11616;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 4px 2px black;
    min-width: 430px;
}

h2, h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.1px;
}

.form {
    display: flex;
    gap: 4px;
    display: flex;
    justify-content: space-between;
}

.form-input {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 4px;box-shadow: 0px 0px 2px black;
}
.input-text {
    width: 100%;
}

.input-btn {
    cursor: pointer;
    font-weight: bold;font-size: 1.2em;
    background-color: #2D6D5C;
    color: white;
}
.input-btn:hover {
    background-color: #235548;
}

.input-btn:active {
    transform: translateY(1px);
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-item {
    display: flex;
    padding: 2px 4px;
    border-radius: 4px;
    background: #85010B;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.erase {
    background: white;
    color: black;
    border: 1px solid #85010B;
    padding: 7px;
}

.erase:hover {
    color: white;
    background: #a11616;
    border: 1px solid white;

}

.erase:active {
    box-shadow: inset 0px 0px 1px 1px black;
}

.erase-all {
    font-size: 1em; 
    background-color: #2D6D5C;
    border: 2px solid transparent;
    color: white;
    box-shadow: 0px 0px 4px black;
    font-size: 1.2em;
}

.erase-all:hover{ 
    border: 2px solid white;

}

.erase-all:active {
    background-color: #143f34;
}

.hide {
    display: none;
}

.show {
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: large;
    font-weight: bold;
}